# =====================
# Dependencies
# =====================
node_modules/
**/node_modules/

dist/
build/
coverage/

# =====================
# Environment variables
# =====================
.env
.env.*
**/.env
**/.env.*

# =====================
# Logs
# =====================
*.log

# =====================
# OS / Editor
# =====================
.DS_Store
Thumbs.db
