@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default, dark --prefersdark;
 }
@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.001 106.423);
  --color-base-200: oklch(97% 0.001 106.424);
  --color-base-300: oklch(92% 0.003 48.717);
  --color-base-content: oklch(21% 0.006 56.043);
  --color-primary: oklch(62% 0.194 149.214);
  --color-primary-content: oklch(98% 0.001 106.423);
  --color-secondary: oklch(79% 0.184 86.047);
  --color-secondary-content: oklch(97% 0.014 254.604);
  --color-accent: oklch(62% 0.194 149.214);
  --color-accent-content: oklch(98% 0.022 95.277);
  --color-neutral: oklch(62% 0.194 149.214);
  --color-neutral-content: oklch(98% 0.001 106.423);
  --color-info: oklch(70% 0.01 56.259);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(64% 0.2 131.684);
  --color-success-content: oklch(98% 0.014 180.72);
  --color-warning: oklch(76% 0.188 70.08);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(51% 0.222 16.935);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 2rem;
  --radius-field: 1rem;
  --radius-box: 0.5rem;
  --size-selector: 0.3125rem;
  --size-field: 0.28125rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}



@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(24% 0.006 106.424);
  --color-base-200: oklch(18.5% 0.006 315.100);
  --color-base-300: oklch(28% 0.010 48.717);
  --color-base-content: oklch(98% 0.002 247.839);
  --color-primary: oklch(62% 0.194 149.214);
  --color-primary-content: oklch(98% 0.001 106.423);
  --color-secondary: oklch(79% 0.184 86.047);
  --color-secondary-content: oklch(97% 0.014 254.604);
  --color-accent: oklch(62% 0.194 149.214);
  --color-accent-content: oklch(98% 0.022 95.277);
  --color-neutral: oklch(62% 0.194 149.214);
  --color-neutral-content: oklch(98% 0.001 106.423);
  --color-info: oklch(70% 0.01 56.259);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(64% 0.2 131.684);
  --color-success-content: oklch(98% 0.014 180.72);
  --color-warning: oklch(76% 0.188 70.08);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(51% 0.222 16.935);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 2rem;
  --radius-field: 1rem;
  --radius-box: 0.5rem;
  --size-selector: 0.3125rem;
  --size-field: 0.28125rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}